page-contact{

    h3{
        padding-left:10px;
    }
    #slider{
     padding-left:15px;
     font-family: cursive;
     font-style: bold;
     
    }
    #bckg{
        background-color:rgb(209, 121, 205);
    }
}